{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="About | SEEPDF">
<meta name="keywords" content="ebooks, pdf, digital book, document share">
<meta name="author" content="seepdf.com">
{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="row-fluid">

			<div class="hero-unit">

				<div class="span7">
					<h1>About Us</h1>
						<p>
                            I'm a developer, and I love books, especially "free"
                            ebooks which is widely available on the internet.
                            I'm building this web apps for my needs but if someone
                            got benefit from it, I will be very happy too.
                        </p>
                        <p>
                            Our web service can guide you to find digital books,
                            including scientific journal, research paper, user manual,
                            syllabus, exam answers, leaflet and many others.
                        </p>
                        <p>
                            In order to gives you the best service, we have an editor
                            which makes sure the link to the source books is working,
                            and titled properly so easier for our users
                            like you to search.
                        </p>
                        <p>
                            To differentiate between already sorted books and not yet sorted is
                            by identifying the image on the left side. If the image is not
                            "standard" pdf logo, it means the link is already verified, otherwise
                            it maybe active or dead link.
                        </p>
                        <p>
                            Here are some of our features so far:
                            <ol>
                                <li style="font-size: 12px;">Search for Ebooks</li>
                                <li style="font-size: 12px;">Add ebooks to your collection (requires login)</li>
                                <li style="font-size: 12px;">Document reader utilizing Google Docs Preview</li>
                                <li style="font-size: 12px;">Embed ebook into your blog for easy reading</li>
                                <li style="font-size: 12px;">Subscribe to our latest editorial picks</li>
                                <li style="font-size: 12px;">Tags for better documents finding. (Continuously improved)</li>
                                <li style="font-size: 12px;">Comment and Discussion</li>
                                <li style="font-size: 12px;">Abuse report for copyright violation</li>
                                <li style="font-size: 12px;">User Upload (Development phase)</li>
                                <li style="font-size: 12px;">Share with your friends or families (Development phase)</li>
                                <li style="font-size: 12px;">Following other users (Deveopment phase)</li>
                                <li style="font-size: 12px;">Dead link checker (Development phase)</li>
                                <li style="font-size: 12px;">PDF Metadata Checker (Development phase)</li>
                            </ol>
                        </p>
                        <p>and finally... Thank you for visiting us.</p>
				</div>

				<div class="clearfix"></div>

			</div>
		</div>
    </div>
{% endblock %}
