{% extends "base.html" %}

{% block title %}Disclaimer{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="row-fluid">

			<div class="hero-unit">

				<div class="span7">
					<h4>Please read this carefully before using our services</h4>
                        <p>
                            Disclaimer:
                            <ol>
                                <li style="font-size: 12px;">
                                    My web apps DOES NOT store the books in server,
                                    we only curating the links found from the
                                    internet via search engine.
                                </li>
                                <li style="font-size: 12px;">
                                    We DO NOT guarantee all the links are live forever,
                                    it's all depends on the server where the links are
                                    found.
                                </li>
                                <li style="font-size: 12px;">
                                    NOT ALL books can be read via our viewer, it all
                                    depends on the speed of the storage server and the
                                    file size. Some of them can only be read by downloading
                                    the books first.
                                </li>
                                <li style="font-size: 12px;">
                                    If you can't read online, that DOESN'T MEAN the reader
                                    is broken, please try following the download link.
                                </li>
                            </ol>
                        </p>
                        <p>and finally... Thank you for using our service.</p>
				</div>

				<div class="clearfix"></div>

			</div>
		</div>
    </div>
{% endblock %}
