<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<script src="/static/js/jquery-1.10.2.js"></script>
<title>welldone</title>


<script>
    function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
    // window.location="{{ config['SITE_URL'] }}/tags/{{ tag|slug }}";
    // location.href="{{ config['SITE_URL'] }}/tags/{{ tag|slug }}";
</script>


</head>

<body>
The page is moved, please click here: <a id="click" href="{{ config['SITE_URL'] }}/tags/{{ tag|slug }}">URL</a>
</body>
<script>
    $(document).ready(function() {
        $("#click").click();
    })
</script>
</html>
