<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<!--<meta http-equiv="refresh" content="0; url={{ config['SITE_URL'] }}/tags/{{ tag|slug }}">-->
<title>welldone</title>


<script>
    function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
    // window.location="{{ config['SITE_URL'] }}/tags/{{ tag|slug }}";
    location.href="{{ config['SITE_URL'] }}/tags/{{ tag|slug }}";
</script>


</head>

<body>
The page is moves, please click here: <a href="{{ config['SITE_URL'] }}/tags/{{ tag|slug }}">URL</a>
</body>
</html>
